<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pipeline</title>
  </head>
  <body>
    <ol>
      <li>Base: {{. }}</li>
      <li>Double: {{. | fdbl}}</li>
      <li>Double and Square: {{. | fdbl | fsq}}</li>
      <li>Double, Square and Square root: {{. | fdbl | fsq | fsqrt}}</li>
    </ol>
  </body>
</html>
