<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Languages - Creators</title>
</head>
<body>
  <h1>The best programing languages</h1>
  {{range $key, $value := .}}
  <li>{{$key}} - {{$value}}</li>
  {{end}}
</body>
</html>